<!----------------- Footer ----------------->
<footer class="page-footer font-small  pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="text-dark">cristian casas </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="text-dark"> yadir echeverri</i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="text-dark">huber correa </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="text-dark"> sharon delgado</i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  
  <div class="footer-copyright text-center text-muted py-3">© 2020 Copyright:
    <a href="/home"> Trabajo Final De Electiva 1</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->