<div class="animated fadeIn">
  <app-header></app-header>
   <div class="container">
     <h1>CAPITAL HUMANO</h1>
     <img src="../assets/images/humano.png" class="img-fluid" alt="Responsive image">
     <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia enim magnam qui 
       officia iusto blanditiis assumenda ab adipisci ducimus magni, inventore debitis unde 
       eligendi at aut fuga laboriosam? Nemo, nostrum?</P>
     <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem incidunt placeat
        illum saepe possimus rem in, quam, perspiciatis porro fugiat iste, quae quidem tenetur 
        quo nesciunt. Dolore debitis esse voluptatem!</P>

    <h4>Lorem ipsum dolor</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum asperiores 
      voluptatum nesciunt, delectus nam harum amet ad praesentium sed velit similique 
      obcaecati, assumenda tempora, non voluptatibus porro nihil vero. Eveniet?</p>
    <h4>Lorem ipsum dolor</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptates, voluptatibus
       sit eius nostrum eaque! Consequatur beatae at pariatur soluta nulla cum omnis unde 
       possimus ratione reprehenderit, dolorum laudantium corrupti!. Lorem ipsum dolor sit amet 
       consectetur adipisicing elit. Quas, sunt facere! Delectus, maiores enim reiciendis nemo,
        quae necessitatibus nisi praesentium ullam labore facilis illum a quibusdam debitis
         temporibus quia. Dolorum.</p>
   </div>
  <app-footer></app-footer>
</div>