<div class="animated fadeIn">
   <app-header></app-header>

   <!------------------------------ESPACIO DE SEPARACION --------------------------------------->
  <!--  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb bg-info">
      <li class="breadcrumb-item active text-white" aria-current="page"><h5>SUB-SECTORES</h5></li>
    </ol>
  </nav> -->
  <!------------------------------FIN ESPACIO DE SEPARACION --------------------------------------->
   <div class="card-group mt-2">
     <div class="col-sm-4">
        <div class="list-group ">
          <a [routerLink]="['/sectores','educativo']" class="list-group-item list-group-item-action active">
            Sub-Sectores
          </a>
          <a [routerLink]="['/sectores','educativo','universidades-privadas']" class="list-group-item list-group-item-action ">Universidades</a>
        </div>
     </div>
     <div class="col-sm-8">
      <img src="../assets/images/books.jpg" class="img-fluid" alt="Responsive image">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia minima culpa nisi 
        esse voluptatum. Similique, nam voluptate necessitatibus blanditiis ut earum eos amet ad 
        iusto rerum itaque enim debitis!. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sapiente consequuntur saepe voluptatum impedit quis enim animi, eum adipisci expedita, 
        doloremque assumenda rem reprehenderit tempore magnam, alias aliquid esse commodi vero?. 
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugit nobis sapiente 
        officia reprehenderit possimus nesciunt aliquid rerum. Sunt a laboriosam quidem nulla 
        molestias eum corrupti voluptatem dicta nam. Quis!. Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Aliquid magnam id voluptatum laboriosam aperiam consectetur quisquam fuga
        quas quasi minima, impedit dolore asperiores soluta itaque sed, ad eligendi libero odio. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta culpa error in omnis
        non quae nesciunt saepe sequi vel cum voluptatum nulla, consequuntur consectetur temporibus
        possimus at. Officia, voluptates!</p>
           <br>
        <i class="fa fa-spinner fa-spin fa-5x"></i>
    </div> 
   </div>
 <app-footer></app-footer>
</div>
