<nav class="navbar sticky-top navbar-expand-lg" id="barra" role="navigation">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/logo-ucc4.png" width="130" height="52" alt="" loading="lazy">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/home">Pagina Principal</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sectores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="/educativo" class="dropdown-item" [routerLink]="['/sectores','educativo']">Educativo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"[routerLink]="['/sectores','sgremios']">Gremios</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Lideres de opinion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Medios de Comunicacion</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" [routerLink]="['/home','quienes-somos']">Quienes Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Capital Humano</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Capital Relacional</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-light " (click)="salir()">
          Salir
        </button> 
      </form> 
    </div>
</nav>


