<!------------------------------SLIDER DEL HOME --------------------------------------->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="../assets/images/slider-1.png"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Universidad Cooperativa De Colombia</h3>
        <p>slider-1</p>
      </div>
    </div>
    <div class="carousel-item">

      <div class="view">
        <img class="d-block w-100" src="../assets/images/slider-3.png"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Universidad Cooperativa De Colombia</h3>
        <p>slider-2</p>
      </div>
    </div>
    <div class="carousel-item">
      <!------------------------------->
      <div class="view">
        <img class="d-block w-100" src="../assets/images/slider-2.png"
          alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Universidad Cooperativa De Colombia</h3>
        <p>slider-3</p>
      </div>
    </div>
  </div>
  <!-----------------------Controles----------------->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
 
</div>

<!------------------------------FIN SLIDER DEL HOME --------------------------------------->

<!------------------------------ESPACIO DE SEPARACION --------------------------------------->

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active text-white" aria-current="page"><h5>IMFORMACION</h5></li>
  </ol>
</nav>
<!------------------------------FIN ESPACIO DE SEPARACION --------------------------------------->

<!------------------------------ CARTAS DEL HOME --------------------------------------->
<div class="card-group">
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Cali</h5>
      <img class="card-img-top" src="../assets/images/m3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">¡En la UCC Cali el plan es bienestar!</h5>
        <p class="card-text">En la UCC trabajamos para que tu Bienestar NO pare. Hemos diseñado una serie de actividades con las que podrás sumar horas de bienestar.</p>
        <a href="#" class="btn btn-primary">Saber mas..</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">UCC</h5>
      <img class="card-img-top" src="../assets/images/m2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pregrado En Ingenieria De Sistemas </h5>
        <p class="card-text">La formación del programa de sistemas está centrada en las siguientes líneas de investigación: la ingeniería del software y la gestión y desarrollo de proyectos en TI.</p>
        <a href="#" class="btn btn-primary">Saber mas..</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">CALI</h5>
      <img class="card-img-top" src="../assets/images/m4.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">la UCC Cali el plan es estudiar desde casa </h5>
        <p class="card-text">Desarrollaremos programas académicos presenciales de pregrado y posgrado con el uso de las tecnologías de la información y la comunicación..</p>
        <a href="#" class="btn btn-primary">Saber mas..</a>
      </div>
    </div>
  </div>
</div>
<br>
<!------------------------------ FIN CARTAS DEL HOME --------------------------------------->

<div class="card col-11.5 ml-3 mr-3">
  <div class="card-body">
    <h5 class="card-title">Principios y Valores</h5>
    <p class="card-text">En primer lugar, es una Universidad que pertenece al sector solidario, lo cual 
      significa una propiedad social y un sentido social de sus programas y proyectos dirigidos a una 
      población que, por otros medios, no tiene acceso a la educación superior. Su finalidad es el
       desarrollo de potencialidades en las personas que se benefician de los servicios y de los sectores 
       sociales que tienen necesidades que deben ser satisfechas a través de éstos</p>
       <p class="card-text"><small class="text-muted">referencia: https://www.ucc.edu.co/institucion/Paginas/principios-valores.aspx</small></p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>