<div class="animated fadeIn">
  <app-header></app-header>
   <div class="container">
     <h1>CAPITAL RELACIONAL</h1>
     <img src="../assets/images/recional2.jpg" class="img-fluid" alt="Responsive image">
     <P>El capital relacional se define como el conjunto de todas las relaciones 
       de mercado, de poder y de cooperación— que se establecen entre empresas, instituciones y 
       personas, y que surgen de un sentido de pertenencia y de una capacidad de cooperación muy 
       desarrollada que es habitual entre personas e instituciones que comparten la misma cultura.</P>
     <P>No obstante, establece relaciones estrechas con un gran numero de socios no es tarea 
       sencilla. Por lo tanto, una empresa debe encontrar el equilibrio adecuado entre la 
       profundidad y la amplitud debe asociaciones, es decir, entre conseguir el grupo más grande
        posible de socios y profundizar la relación con un conjunto reducido de ellos.</P>

    <h4>Relaciones estratégicas con nuestros aliados Aliados</h4>
    <p>La función que desempeña los distribuidores es esencial para que MIL conozca las
       necesidades de los clientes. por tanto, es imprescindible que establezcamos y mantengamos 
       una relación solida con los primeros. La información de obtenemos de los propios clientes 
       y sus representantes, los distribuidores, es fundamental para que podamos conocer los que 
       opinan de nuestros productos.</p>
    <h4>Relaciones estratégicas con nuestros aliados Claves</h4>
    <p>MIL han desarrollado relaciones muy estrechas con varios socios que le permiten 
      ascender a una amplia gama de recursos en el mercado financiero. 
      La empresa ha dotado una estructura sofisticada con esta red de proveedores externos, 
      incluida una serie de normas y procedimientos, para respaldar las relaciones y permitir 
      un control constante de la calidad del servicio que recibe.</p>
   </div>
  <app-footer></app-footer>
</div>